<!DOCTYPE html>
<html lang="en">
<head>
  <title>Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    .dropdown-menu{
      
      background-color:#292727;
      color: white;
    }
    .dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
   
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img class="d-block img-fluid" src="/static/images/logo_icon.png" alt="New York"
                             width="40" height="30" style="margin-top: 10px; margin-right: 15px;" >
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
 <ul class="nav navbar-nav">
        <li class="active"><a href="/adminhome">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Product <span class="caret"></span></a>

        <ul class="dropdown-menu" style="color: white;">
          <li class="dropdown-submenu" ><a class="test" style="color: red" href="#">MEN<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a style="color: red" href="/ashirts">Shirt</a></li>
              <li><a style="color: red" href="/atshirts">T-shirt</a></li>
              <li><a style="color: red" href="/atrousers">Trousers</a></li>
            </ul></li>
          <li class="dropdown-submenu" ><a class="test" style="color: white" href="#">WOMEN<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a style="color: white" href="/ahijabs">Hijabs</a></li>
              <li><a style="color: white" href="/asarees">Saree</a></li>
            </ul></li>
          <li class="dropdown-submenu" ><a class="test" style="color: blue" href="#">ACCESSORIES<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a style="color: blue" href="/abelts">Belts</a></li>
              <li><a style="color: blue" href="/apurse">Purse</a></li>
              <li><a style="color: blue" href="/awatches">Watches</a></li>
            </ul></li>
        </ul>
      </li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="http://127.0.0.1:5000/admin">ADMIN</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li style="margin-top: 14.7px;"><button  data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"  data-toggle="modal" data-target="#myModal"></span> ADMIN</button></li>
        <li><button><span class="glyphicon glyphicon-shopping-cart"></span> Cart</button></li>
      </ul>
    </div>
  </div>
</nav>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>

<div class="container">    
  <div class="row">
    <div class="col-sm-4" >
      <div class="panel panel-primary">
        <div class="panel-heading">COMING SOON</div>
        <div class="panel-body" ><img src="/static/images/watchwallpaper.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><a href="#">wathces worth Rs.999</a></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">COMING SOON</div>
        <div class="panel-body"><img src="/static/images/rayban.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><a href="#">Sunglasses under Rs.1299</a></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">COMING SOON</div>
        <div class="panel-body"><img src="/static/images/nike.jpg" class="img-responsive" style="width:100%" alt="Image" height="300"></div>
        <div class="panel-footer"><a>Sneakers under Rs.3499</a></div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">COMING SOON</div>
        <div class="panel-body"><img src="/static/images/oneplus7.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">starting from Rs.49999 &nbsp&nbsp<button class="btn btn-danger">BUY NOW  </button></div>
      </div>
    </div>
  </div>
</div><br>

<br>

<footer class="container-fluid text-center">
  
  
</footer>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>        </div>
        <div class="modal-body">
          <form method="post" action="/logout">
    <p>
    <input type="submit" value="Logout">
  </p>
</form>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


</body>
</html>
