<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>



<dir class="container" ></dir>
<center>
<h1>Register</h1>
<form method="POST" action="/register" >
<div class="form-group" >
<input type="text" name="name" class="from-control" placeholder="name" style="border-radius: 8px ; height: 30px"  required>
</div>
<div class="form-group" >
<input type="text" name="username" class="from-control" placeholder="username" style="border-radius: 8px ; height: 30px"  required>
</div>
<div class="form-group" >
<input type="password" name="password" class="from-control" placeholder="password" style="border-radius: 8px ; height: 30px"  required>
</div>
<div class="form-group" >
<input type="password" name="confirm" class="from-control" placeholder="confirm password" style="border-radius: 8px; height: 30px" required>
</div>
<button class="btn btn-primary" type="Submit" >Submit</button>
</form>
</center>
</body>
</html>